
body{
    background-image: url("../imagens/estante-vazia-de-madeira.png");
}

#titulo{
    text-align: center;
    margin-bottom: 165px;
}


.livros ul{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px ;
    grid-template-rows: 310px;
    justify-content: center;

}

img{
    height: 220px;
    width: 160px
    
}

img:hover{
    scale: 1.08;
    border-color: rgba(137, 43, 226, 0.568);
    border-style: ridge;
    border-width: 5px;
    
}

footer{
    text-align: center;
    margin-top: 100px;
    font: 1em verdana;
}