@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body {
    background-image: linear-gradient(to right, #016F82,#02A5C2,#14d7fa);
}

main {
    background-color:#FCFCFC;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #0290aa9f;
}

h1 {
    color:#46237A;
    text-align: center;
    text-shadow: 1px 1px 2px #3e1f6cc7;
}

h2 {
    color: #3DDC97;
    text-shadow: 2px 2px 2px #34bd829c;
}

p {
    text-align: justify;
}